@import '../../styles/variables.scss';

.input-container,
input[type='text'],
input[type='number'] {
	border-radius: 10px;
}

.input-container {
	background: $light-grayish-violet;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type='text'],
input[type='number'] {
	padding: 12px 15px;
	font-size: 18px;
	margin: 1px;
	border: none;
	width: 100%;
	color: $very-dark-violet;
}

input[type='text']::placeholder,
input[type='number']::placeholder {
	color: #aaa;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

@media (max-width: 1000px) {
	input[type='text'],
	input[type='number'] {
		max-height: 45px;
	}
}
